@use "colors" as *;
@use "typography" as *;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $base-color;
}

// Navigation bar

.navbar {
  background-color: $primary-color;
  height: 70px;
  color: $base-color;
  font-size: 18px;
}

.navbar-logo {
  height: 100px;
}

.navbar a {
  color: $base-color;
  margin-left: 10px;
  margin-right: 20px;
}

.navbar a:hover {
  color: $cta-color;
  text-decoration: underline 2px;
}

.nav-link:hover {
  color: $cta-color;
}

.nav-link:focus {
  color: $cta-color;
}

.search-button {

}

// .btn-outline-success {
  // --bs-btn-color: #232659;
  // --bs-btn-border-color: #232659;
  // --bs-btn-hover-color: #f2f2f2;
  // --bs-btn-hover-bg: #232659;
  // --bs-btn-hover-border-color: #232659;
  // --bs-btn-active-color: #f2f2f2;
  // --bs-btn-active-bg: #232659;
  // --bs-btn-active-border-color: #232659;
  // --bs-btn-disabled-color: #232659;
  // --bs-btn-disabled-border-color: #232659;
// }

// Hero image

.hero-img-container {
  width: 100%;
}

.hero-img-caption-container {
  position: absolute;
  left: 25rem;
  top: 22rem;
  text-align: center;
  background-color: #f2f2f252;
  padding: 40px;
  border-radius: 25px;
  color: $cta-color;
  text-shadow: 2px 2px 10px #f2f2f2;
  backdrop-filter: blur(10px);
}

// Sticker

.kids-que-container {
  position: absolute;
  right: 2rem;
  top: 43rem;
  text-align: center;
  background-color: $cta-color;
  width: fit-content;
  padding: 60px 40px;
  border-radius: 50%;
  color: $base-color;
}

// Sub navbar

.sub-navbar {
  background-color: $primary-color;
  height: 60px;
  padding: 0;
  font-size: 20px;
}

.sub-navbar a {
  color: $base-color;
  margin-left: 10px;
  margin-right: 20px;
}

.sub-navbar a:hover {
  color: $cta-color;
  text-decoration: underline 2px;
}

// Cards

.card-con {
  padding: 30px 10px;
}

.card-row {
  justify-content: center;
}

.card {
  margin: auto;
}

.arrow-row {
  display: flex;
  justify-content: right;
}

.link-arrow {
  margin-right: 0px;
  margin-left: auto;
}

.fa-arrow-circle-right {
  color: $cta-color;
}

// Følg os

.fb-col, .insta-col {
  padding: 10px;
}

.fa {
  padding: 20px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-social:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: $primary-color;
  color: white;
}

.fa-instagram {
  background: $primary-color;
  color: white;
}

.video-col {
  width: 100%;
}

.placeholder-img {
  width: 100px;
}


// Sponsors

// Footer

.footer-container {
  background-color: $primary-color;
  color: $base-color;
}

.footer-container .row {
  height: 100%;
  padding: 2rem 2rem;
}

.footer-container .row .col {
  width: 10%;
  height: 10%;
  margin: 0;
  padding: 0;
}

.footer-logo-col {
  display: flex;
  justify-content: left;
  align-content: center;
  margin: 0;
  padding: 0;
}

.footer-logo-col a {
  display: flex;
  justify-content: center;
  align-content: center;
  height: fit-content;
}

.footer-logo {
  max-width: 150px;
}

.footer-menu  {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu a {
  text-decoration: none;
  color: $base-color;
}
  
.footer-menu a:hover {
  color: $cta-color;
  text-decoration: underline 2px;
}

.contact-col p {
  padding: 0;
  margin: 0;
}
