@use "colors" as *;
@use "typography" as *;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $base-color;
  padding: 0;
  margin: 0;
}

.row > *{
  padding-right: 0;
  padding-left: 0;
}

// Navigation bar

.navbar {
  background-color: $primary-color;
  height: 80px;
  color: $base-color;
  font-size: 18px;
  padding: 0 10px;
}

.navbar-logo {
  height: 120px;
}

.navbar a {
  color: $base-color;
  margin-left: 10px;
  margin-right: 20px;
}

.navbar a:hover {
  color: $cta-color;
  text-decoration: underline 2px;
}

.nav-link:hover {
  color: $cta-color;
}

.nav-link:focus {
  color: $cta-color;
}

.btn-outline-success {
  --bs-btn-color: #232659;
  --bs-btn-border-width: 2px;
  --bs-btn-bg: #f2f2f2;
  --bs-btn-border-color: #f2f2f2;
  --bs-btn-hover-color: #f2f2f2;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #f2f2f2;
  --bs-btn-active-color: #f2f2f2;
  --bs-btn-active-bg: #232659;
  --bs-btn-active-border-color: #232659;
  --bs-btn-disabled-color: #232659;
  --bs-btn-disabled-border-color: #232659;
}

// Hero image

.hero-img-container {
  width: 100%;
}

.hero-img-container h1 {
  font-size: 85px;
}

.hero-img-caption-container {
  position: absolute;
  left: 14rem;
  top: 15rem;
  text-align: center;
  background-color: #f2f2f252;
  padding: 25px;
  border-radius: 25px;
  color: $cta-color;
  text-shadow: 2px 2px 10px #f2f2f2;
  backdrop-filter: blur(10px);
}

// Sticker

.kids-que-container {
  position: absolute;
  right: 0.5rem;
  top: 25rem;
  text-align: center;
  background-color: $third-color;
  width: fit-content;
  padding: 50px 30px;
  border-radius: 50%;
  color: $base-color;
  z-index: 5;
}

.kids-que-h1 {
  padding-bottom: 10px;
}

// Sub navbar

.sub-navbar {
  background-color: $primary-color;
  height: 80px;
  padding: 0;
  font-size: 20px;
}

.sub-navbar a {
  color: $base-color;
  margin-left: 10px;
  margin-right: 20px;
}

.sub-navbar a:hover {
  color: $cta-color;
  text-decoration: underline 2px;
}

// Cards

.card-row {
  justify-content: center;
  padding: 30px 0;
  margin-top: 1rem;
}

.card {
  margin: auto;
}

.card-body {
  height: 250px;
}
.card-text {
  height: 100px;
}

.card-body i {
  margin-right: 0px;
  margin-left: 150px;
  margin-bottom: 0;
  margin-top: 10px;
}

.fa-arrow-circle-right, .fa-arrow-circle-left {
  color: $cta-color;
}

.img-card-col {
  height: 250px;
}

.img-hall-of-fame {
  width: auto;
  height: 250px;
  object-fit: cover;
}

// Galleri

.galleri-h2 {
  background-color: $primary-color;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  color: $base-color;
}

.gal-row {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  border-bottom: $primary-color solid 2px;
}

.gal-row .col {
  display: flex;
  justify-content: center;
}

.gal-row .col-left {
  margin-left: 125px;
}

.gal-row .col-right {
  margin-right: 125px;
}

.galleri-car-img {
  height: 200px;
}

// Følg os

.col-tilmeld i {
  margin-right: 0px;
  margin-left: 350px;
  margin-bottom: 0;
  margin-top: 0;
}

.fb-col, .insta-col {
  padding: 10px;
}

.fa {
  padding: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-social:hover {
  opacity: 0.7; 
}

.fa-facebook {
  background: $primary-color;
  color: white;
}

.fa-instagram {
  background: $primary-color;
  color: white;
}

.follow-col, .col-tilmeld {
  border: $primary-color 2px solid;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

// Sponsors

.container-sponsor {
  border-bottom: $primary-color 2px solid;
  margin: 50px 0;
}

.container-sponsor h2 {
  background-color: $primary-color;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  color: $base-color;
}

// Footer

.footer-container {
  background-color: $primary-color;
  color: $base-color;
  margin-top: 50px;
  padding: 0  30px;
}

.footer-container .row {
  height: 100%;
  padding: 2rem 2rem;
}

.footer-container .row .col {
  width: 10%;
  height: 10%;
  margin: 0;
  padding: 0;
}

.footer-logo-col {
  display: flex;
  justify-content: right;
  align-content: center;
  margin: 0;
  padding: 0;
}

.footer-logo-col a {
  display: flex;
  justify-content: center;
  align-content: center;
  height: fit-content;
}

.footer-logo {
  max-width: 125px;
}

.footer-menu  {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  padding: 5px 0;
}

.footer-menu a {
  text-decoration: none;
  color: $base-color;
}
  
.footer-menu a:hover {
  color: $cta-color;
  text-decoration: underline 2px;
}
 
.contact-h4 {
  margin-top: 5px;
}

.contact-col p {
  padding: 0;
  margin: 0;
}

// Tilmelding

.h2-tilmelding-container {
  color: $primary-color;
  height: 50px;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 0 500px; 
  margin-top: 30px; 
  margin-bottom: 30px;
}

.h2-tilmelding-container h2 {
  border-bottom: 3px solid $primary-color;
  padding-bottom: 10px;
}

.bbq-tilmeld-container .row .col {
  margin: 30px;
  border: $primary-color 2px solid;
  border-radius: 5px;
}

.bbq-tilmeld-container .row .col .h3-row {
  width: 100%;
  text-align: center;
  background-color: $primary-color;
  color: $base-color;
  padding: 10px;
}

.bbq-tilmeld-container .row .col .blanket-row {
  width: 100%;
  color: $primary-color;
  padding: 10px;
}




// Find vej

.findvej-row-one {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.kort-col {
  border: 2px solid $primary-color;
  height: 324px;
}